#title{
    padding-top: 2%;
    color: navy;
    text-align: center;
    font-family: Helvetica;
    font-size: medium;
 } 


#subtitle{
    color:gray;
    text-align: center;
    font-family: Helvetica;
    font-size: small;
 } 

 .book-card{
    font-family: Helvetica;
    background-color:lightskyblue;
    border-radius: 2px;
    width: 30%;
    height: 80px;

    justify-content: center;
    align-items: center;
    margin: 0 auto;
 }

 .bookName{
     margin-left: 5px;
     font-size: medium;
 }

 .bookPoints{
     position: relative;
     left: 70%;
     bottom: 32px;
     font-size: small;
     color:navy;
 }

 .bookQuestion{
    font-size: small;
    position: relative;
    top: -4px;
    margin-left: 5px;
 }

 .inputPoints{
     margin-left: 5px;
     border-radius: 5px;
     background-color: whitesmoke;
     border-color: whitesmoke;

     position: relative;
     bottom: 40px;
 }

 .sendBtn{
    border-radius: 5px;
    color: white;
    background-color: navy;
    border-color: navy;

    position: relative;
    bottom: 40px;
}
